*{
  box-sizing: border-box;
}
.body{
  padding-top: 44px;
}
.container{
  max-width: 1200px;
  margin: auto;
  margin-top: 27px;
}
.logo{
  width: 126px;
  height: auto;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}
.email{
  max-width: 205px;
  border-radius: 20px 0px 0px 20px;
  padding-left: 17px;
  font-size: 17px;
  height: 49px;
  border: solid rgba(221, 138, 5, 0.854);
}
.button-email{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-pod{
  border: none;
  background-color: rgba(221, 138, 5, 0.854);
  padding: 13px 23px;
  font-size: 20px;
  color: #fff;
  display: flex;
  font-weight: 600;
}
.button-pod:hover{
  background-color: rgba(159, 102, 9, 0.968);
}
.button{
  border: none;
  background-color: rgba(221, 138, 5, 0.854);
  padding: 13px 23px;
  font-size: 20px;
  color: #fff;
  border-radius: 0px;
  display: flex;
  font-weight: 600;
}
.button:hover{
  background-color: rgba(159, 102, 9, 0.968);
}
.prizv{
  font-size: 30px;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  font-weight: 900;
}
.buttons{
  display: flex;
}
.button-primary{
  margin-right: 0px;
}
.save{
  max-width: 1200px;
  padding-top: 7px;
  margin: auto;
}
.card-img{
  width: 100%;
  height: auto;
  border-radius: 13px 25px 0px 0px;
}
.cards{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 25px;
}
.card{
  background: rgb(221, 138, 5);
  margin-bottom: 30px;
  flex-basis: 31%;
  border-radius: 13px 27px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 7px 4px rgba(12, 0, 21, 0.162);
}
.text-save{
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding-top: 11px;
}
.text-save-text{
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 13px;
}
.main{
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%)
}
.reiss{
  max-width: 1200px;
  margin: auto;
  padding-top: 7px;
  padding-bottom: 45px;
}
.reis{
  max-width: 1200px;
  margin: auto;
  background-color: #f5f5f5;
  display: flex;
  background-color: rgb(12, 136, 198);
  margin-bottom: 37px;
  border-radius: 37px 0px 0px 37px;
  transition: all 0.3s ease-in-out;
}
.reis:hover {
  transform: translateX(-25px);
}
.reis-img{
  width: 400px;
  height: auto;
  border-radius: 37px 0 0 37px;
}
.mtr{
  padding-bottom: 16px;
  padding-top: 21px;
  padding-left: 24px;
  width: 1200px;
  margin: auto;
}
.mtr-t{
  margin: 0;
  font-size: 43px;
}


.im{
  display: flex;
}
.tet{
  max-width: 250px;
  height: 100%;
}
.rei{
  padding-top: 26px;
  padding-left: 27px;
}
.pto{
  margin: 0;
  font-size: 23px;
  font-weight: 600;
}
.ptt{
  margin: 0;
  font-size: 27px;
  font-weight: 600;
}
.cen{
  padding-top: 56px;
  padding-left: 67px;
}
.but{
  padding-top: 11px;
  padding-left: 27px;
}
.bto{
  border: none;
  padding: 11px;
  font-size: 17px;
  font-weight: 600;
  background-color: rgb(221, 138, 5);
  color:#fff;
}
.pol{
  width: 3px;
  height: auto;
  background-color:#b3b3b3;
  margin-left: 17px;
}
.tet-t{
  max-width: 450px;
}
.dat{
  padding-top: 26px;
  padding-left: 37px;
}
.dt{
  margin: 0;
  font-size: 23px;
  font-weight: 500;
}
.gor-time-o{
  padding-top: 35px;
  padding-left: 37px;
}
.let{
  display: flex;
  align-items: center;
}
.ptf{
  margin: 0;
  font-size: 21px;
  font-weight: 500;
}
.tim-o{
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  padding-top: 4px;
  padding-left: 10px;
}
.tim-t{
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  padding-top: 4px;
  padding-left: 20px;
}
.tim-f{
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  padding-top: 4px;
  padding-left: 20px;
}
.tim-four{
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  padding-top: 4px;
  padding-left: 10px;
}
.lin{
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-left: 29px;
}
.lin-o{
  width: 90px;
  height: 4px;
  background-color: #cb1818;
  border-radius:5px
}
.lin-t{
  width: 45px;
  height: 1px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: #b3b3b3;
  border-radius:5px
}
.lin-f{
  width: 155px;
  height: 4px;
  background-color: #cb1818;
  border-radius:5px
}
.gor-time-t{
  padding-top: 33px;
  padding-left: 18px;
}
.gor-time-f{
  padding-left: 37px;
  padding-top: 14px;
}
.lin-two{
  display: flex;
  align-items: center;
  padding-top: 7px;
  padding-left: 20px;
}
.lin-four{
  width: 145px;
  height: 4px;
  background-color: #cb1818;
  border-radius:5px
}
.lin-five{
  width: 65px;
  height: 1px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: #b3b3b3;
  border-radius:5px
}
.lin-six{
  width: 80px;
  height: 4px;
  background-color: #cb1818;
  border-radius:5px
}
.gor-time-four{
  padding-left: 19px;
  padding-top: 15px;
}
.vr{
  padding-left: 115px;
}
.vrem{
  margin: 0;
}
.VV{
  padding-left: 5px;
  padding-top: 21px;
}
.VV-o{
  padding-left: 17px;
  padding-top: 21px;
}
.VV-t{
  padding-left: 15px;
  padding-top: 21px;
}
.crug-crug{
  width: 30px;
  height: 50px;
  background-color: white;
  border-radius: 25px 0 0 25px;
  margin-top: 38px;
}
.crug{
  margin-left: 120px;
}
.bto:hover{
  background-color: rgba(159, 102, 9, 0.968);
}



.save-title{
  font-size: 36px;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 27px;
}
.card:hover {
  transform: translateY(-27px);
}
.form{
  padding-top: 86px;
  width: 100%;
  background: linear-gradient(0deg, rgba(159, 102, 9, 0.968) 1.04%, rgb(221, 138, 5) 100%)
}
.form-blank{
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  height: 60px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  background-color: rgb(211, 133, 7);
  border-radius: 0px 20px 20px 0px;
  box-shadow: 1px 3px 2px rgba(12, 0, 21, 0.162);
}
.form-blank-where{
  border: none;
  max-width: 205px;
  height: 60px;
  border-radius: 20px 0px 0px 20px;
  padding-left: 17px;
  font-size: 17px;
}
.form-blank-much{
  border: none;
  max-width: 205px;
  height: 60px;
  padding-left: 17px;
  font-size: 17px;
}
.form-blank-date{
  margin: 0;
  border: none;
  max-width: 197px;
  height: 60px;
  padding-left: 17px;
  padding-right: 51px;
  font-size: 17px;
  color: #5b5858;
}
.form-blank-posicion{
  border: none;
  height: 60px;
  padding-left: 17px;
  padding-right: 51px;
  font-size: 17px;
  color: #5b5858;
  border-radius: 0px 20px 20px 0px;
}
.form-blank-find{
  margin-left: 4px;
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 60px;
  background: rgba(2, 47, 248, 0.82);
  box-shadow: 3px 5px 3px rgba(12, 0, 21, 0.162);
  font-size: 23px;
  font-weight: 600;
  color: #ffffff;
}
.form-blank-find:hover{
  background-color: rgba(3, 39, 201, 0.82);
}
.form-form{
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 75px;
}
.otstup{
  margin-left: 2px;
  width: 1px;
  height: 60px;
  background: rgba(221, 138, 5, 0.854);
}
.form-text{
  font-size: 47px;
  margin: 0;
  color: #fff;
  margin: auto;
}
.form-text-text{
  display: flex;
}
.text-form{
  padding-top: 6px;
  font-size: 22px;
  margin: 0;
  color: #fff;
  margin: auto;
}
.me-me{
  font-size: 36px;
  margin: auto;
  padding-left: 46px;
  padding-top: 6px;
  padding-bottom: 27px;
  color: #fff;
  max-width: 1200px;
}
.me-reviews{
  padding-bottom: 50px;
}
.me-review{
  max-width: 1200px;
  margin: auto;
  background-color: #f5f5f5;
  margin-bottom: 37px;
  display: flex;
  border-radius: 26px 6px 6px 26px;
  transition: all 0.5s ease-in-out;
  box-shadow: 2px 9px 5px rgba(12, 0, 21, 0.162);
}
.me-review:hover {
  transform: scaleY(1.2)
}
.me-img{
  width: 330px;
  height: auto;
  border-radius: 26px 0px 0px 26px;
}
.me-text-me{
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 11px;
  padding-bottom: 11px;
}
.me{
  font-size: 27px;
  margin-bottom: 0;
}
.me-t-me{
  font-size: 22px;
  margin-top: 6px;
  line-height: 1.2;
}
.comments{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.comment{
  margin: auto;
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
  flex-basis: 32%;
  border-radius: 7px;
  display: inline-block;
  min-height:  227px;
  box-shadow: 2px 8px 4px rgba(12, 0, 21, 0.162);
}
.com{
  display: flex;
}
.comment-text{
  font-size: 22px;
  padding-left: 14px;
  padding-right: 16px;
}
.comment-img{
  width: 85px;
  height: auto;
  margin-left: 15px;
  margin-top: 15px;
}
.comment-glav{
  margin: 0;
  padding-left: 13px;
}
.name{
  margin: 0;
  margin-top: 17px;
}
.put{
  margin: 0;
  margin-top: 5px;
}
.ocenka{
  margin: 0;
  display: flex;
  margin-top: 3px;
}
.cifr{
  margin: 0;
  margin-top: 3px;
  margin-left: 4px;
  color: orange;
  font-weight: 600;
}
hr{
  border: 2px solid rgb(173, 96, 7);
  margin-bottom: 0;
}
.footer{
  padding: 37px 0;
}
.container-con{
  max-width: 1200px;
  margin: auto;
}
.footer-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nomer{
  margin: 0;
  font-weight: 600;
}
.dano-name{
  margin: 0;
  font-weight: 600;
  margin-left: 26px;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.is-open{
  display: flex;
}
.modal-dialog{
  max-width: 665px;
  width: 95%;
  background:#fff;
  border-radius: 5px;
  margin: auto;
  padding: 40px 45px;
}
.modal-header{
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.modal-title{
  margin: 0; 
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.modal-body{
  margin-bottom: 52px;
}
.modal-body-nomer{
  border: 2px solid rgba(221, 138, 5, 0.854);
  padding: 7px;
  font-size: 17px;
}
.modal-body-password{
  border: 2px solid rgba(221, 138, 5, 0.854);
  padding: 8px;
  padding-right: 88px;
  font-size: 17px;
}
.modal-text{
  font-size: 21px;
  font-weight: 500;
}
.close{
  font-size: 36px;
  border: none;
  background-color: transparent;
}
.counter-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 32px;
  background:#fff;
  border:1px solid #40a9ff;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #40a9ff;
}
.footer-buttons{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.button-primar{
  margin-right: 7px;
}
.primary{
  display: flex;
  align-items:center;
}
.vhod{
  text-decoration: none;
}
.modal-two{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.is-open-two{
  display: flex;
}
.close-two{
  font-size: 36px;
  border: none;
  background-color: transparent;
}
.modal-dialog-two{
  max-width: 665px;
  width: 95%;
  background:#fff;
  border-radius: 5px;
  margin: auto;
  padding: 40px 45px;
}
.modal-header-two{
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.modal-title-two{
  margin: 0; 
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.modal-body-two{
  margin-bottom: 52px;
}
.modal-body-nomer-two{
  border: 2px solid rgba(221, 138, 5, 0.854);
  padding: 7px;
  font-size: 17px;
  padding-right: 87px;
}
.modal-body-password-two{
  border: 2px solid rgba(221, 138, 5, 0.854);
  padding: 8px;
  padding-right: 177px;
  font-size: 17px;
}
.modal-text-two{
  font-size: 21px;
  font-weight: 500;
}
.counter-button-two{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 32px;
  background:#fff;
  border:1px solid #40a9ff;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #40a9ff;
}
.modal-body-text-one{
  border: 2px solid rgba(221, 138, 5, 0.854);
  padding: 7px;
  font-size: 17px;
  padding-right: 163px;
}
.modal-body-text-two{
  border: 2px solid rgba(221, 138, 5, 0.854);
  padding: 7px;
  font-size: 17px;
  padding-right: 207px;
}
.modal-body-password-free{
  border: 2px solid rgba(221, 138, 5, 0.854);
  padding: 8px;
  padding-right: 81px;
  font-size: 17px;
}
.modal-body-nomer-free{
  border: 2px solid rgba(221, 138, 5, 0.854);
  padding: 7px;
  font-size: 17px;
  padding-right: 97px;
}
