body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  
}

header {
  background-color: #cd7914;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  
}
.button-pod{
  border: none;
  background-color: #cd7914;
  padding: 13px 23px;
  font-size: 20px;
  color: #fff;
  display: flex;
  font-weight: 600;
}
.button-pod:hover{
  background-color: #cd7914;
}
.button{
  border: none;
  background-color: #cd7914;
  padding: 13px 23px;
  font-size: 20px;
  color: #fff;
  border-radius: 0px;
  display: flex;
  font-weight: 600;
}
.button:hover{
  background-color: #9e5c0a;
}
.user-info, .flight-history {
  margin: 20px;
}

.user-info h2, .flight-history h2 {
  border-bottom: 1px solid #ccc;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  background-color: #cd7914;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
